@media only screen and (max-width: 1200px) {
	html.active, .offcanvas-active {
		height: 100%;
		overflow: hidden;
	}
	.large-11{
		padding: 0 15px;
		width: auto;
	}

	#layanan {
		padding: 50px 15px
	}

	 .right-off-canvas-menu {
	 	background: #eeeeee;
	 }

	 .left-off-canvas-menu {
	 	background-color: #0f2e86;
	 	overflow: hidden;
		height: 0;
		min-height: 626px;
	 }

	 .right-off-canvas-menu #customerCare {
	 	width: 100%;
	 	top: 0;
	 	height: auto !important;
	 }

	 .right-off-canvas-menu #customerCare .icon-top,
	 .right-off-canvas-menu #customerCare h3 {
	 	display: none;
	 }

	 .right-off-canvas-menu #customerCare #details {
	 	border: 0;
	 }

	 #fixed-navigation .custumer-menu {
		display: none;
	}

	.banner-menu {
		display: none;
	}

	#fixed-navigation .menu-primary-menu-container,
	#fixed-navigation ul,
	#fixed-navigation ul.other {
		width: auto;
	}

	#fixed-navigation ul.sub-menu > li {
		width: 180px;
	}

	#fixed-navigation ul > li {
		padding: 10px 36px;
	}

	#fixed-navigation ul.other > li {
		float: right;
		right: 0;
		border-left: 0;
	}

	#fixed-navigation .menu-primary-menu-container ul > li:last-child {
		border-right: 1px solid #E2E7F5;
	}

	#fixed-navigation .menu-primary-menu-container .sub-menu li:last-child {
		border-right: none;
	}

	.main-nav li.hovered .sub-menu-wrap {
		width: 100% !important;
	}

	#fixed-navigation .other.active #container-search-wrap {
		left: 0;
		width: 100%;
		padding: 0 !important;
	}

	#container-search-wrap #search-wrap {
		float: right;
		right: 0;
	}

	#listing-items {
		margin: 0 auto;
	}

	#unitWidget.expanded {
		height: auto;
	}
	
	#ulipDateSelector,
	#chartContainer {
		width: 50%;
	}

	#unitWidget #ajaxContent > div > div:nth-child(3) {
		width: 100%;
	}

	#footer .row {
		padding: 8px 15px;
	}

	.slideshow-unit .unit-item li:nth-child(1) .product-title{
		position: relative;
		width: 155px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.slideshow-unit .unit-item li {
		margin: 0;
	}

	#customerCare {
		right: 15px;
	}

	.right-off-canvas-menu #customerCare {
		right: 0;
	}

	#tahukah-anda .owl-wrapper,
	#tahukah-anda .owl-item  {
		width: 100%!important;
	}

	/*#fixed-navigation .other.active #search-wrap {
		margin-right: 30%;
	}*/
}

@media only screen and (min-width: 1025px) {
	.tablet-content {display: none !important;}
}


@media only screen and (max-width: 1025px) {
	.columns.w-322.desktop-content {
		margin-left: 0;
	}
	.swipe-button {
		z-index: 100;
		width: 50px;
		height: 50px;
		right: 15px;
		top: 20px;
	}

	#searchform {
		width: 19%;
	}

	#fixed-navigation ul > li {
		padding: 10px 11px;
	}

	.tablet-content {
		display: block !important;
	}

	.hide-on-tablet {
		display: none !important;
	}

	#solusiWidget {
		width: 100%;
		text-align: center;
		height: auto;
	}

	#solusiWidget #intro {
		background: none;
		width: 100%;
		float: none;
		min-height: 0;
	}

	#solusiWidget #intro:after {
		display: none;
	}

	#solusiWidget ul {
		margin: 0;
		width: 100%;
		padding-bottom: 25px;
	}

	#wrapper {
		padding: 0;
	}

	#content-details {
		padding: 30px 15px;
	}

	.blue-sections, #manfaat-luas {
		padding: 30px 30px !important;
	}

	/*#page-container .sections {
		padding: 40px 15px !important;
	}*/

	/*.single-product_matrix #page-container > #brochure-download .sections {
		padding: 0 !important;
	}*/

	.content-box {
		padding: 10px 0;
	}

	#mainSlider {
		height: 400px;	
	}

	#mobile-slide, #mobile-slide li  {
		height: 400px;
		width: 100% !important;
		margin: 0;
		background-size: cover;
		background-position: center center;
		list-style: none;
	}

	.slideBG {
		height: 100%;
		background-size: cover;
		background-position: center center;
	}

	.closeVideo {
		top: 10px;
		right: 10px;
	}

	/*capos edit*/
	#manfaat-luas li p {
		padding-top: 17px;
		float: right;
		margin-right: 6px;
		line-height: 1.1em;
		font-size: 13px;
	}

	#region-1 .m-bottom-10 {
		line-height: 1em;
	}

	#ulip-product {
		margin-right: 8px;
		margin-left: 50px
	}

	.unit-item li {
		margin: 0 5px;
	}

	#unitWidget.expanded .bottom-widget {
		height: auto;
	}

	#fixed-navigation .main-nav > li > div > div > ul > li ul > li{
		width: 125px !important;
	}

	

	/*.slideshow-unit .product-title {
		width: 150px;
		line-height: 0.9em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}*/

	.slideshow-unit .unit {
		width: auto;
		text-align: left;
	}

	.page-tentang-axa-indonesia #karir-section {
		padding: 40px 70px;
	}

	.page-tentang-axa-indonesia #karir-section .career-list li {
		width: 148px;
		height: 153px;
	}

	.page-tentang-axa-indonesia .career-list li.world {
		background-position: 31px 32px;
	}

	.page-tentang-axa-indonesia .career-list li.innovation {
		background-position: -196px 30px;
	}

	.page-tentang-axa-indonesia .career-list li.environments {
		background-position: 28px -110px;
	}

	.page-tentang-axa-indonesia .career-list li.ladder {
		background-position: -197px -105px;
	}

	.single-klaim .pdf-list strong {
		width: 75%;
	}
}

/*ipad potrait*/
@media only screen and (max-width: 800px) {\
	.swipe-button {
		display: none;
	}
	.separationpage {
		background: url(../images/bg-separationpage-mobile.jpg) top center no-repeat;
	}

	.separationpage #panel {
		width: 90%;
		height: auto;
		background: none;
	}

	.separationpage #panel .box {
		background: rgba(255, 255, 255, 0.7);
		border-radius: 5px 5px 0 0;
		display: inline-block;
		width: 100%;
	}

	.separationpage .left, .separationpage .right {
		width: 50%;
		position: relative;
	}

	.separationpage .box .btn {
		display: none;
	}

	.separationpage .left p {
		padding-right: 30px;
	}

	.separationpage .right p {
		padding-left: 30px;
	}

	.separationpage .bottomSection {
		display: block !important;
		margin-top: -5px;
	}

	.separationpage .bottomSection .btn.left  {
		display: block;
		background: #1a3788;
		border-radius: 0 0 0 5px;
		padding: 15px 30px !important;
		color: #fff;
	}

	.separationpage .bottomSection .btn.right  {
		display: block;
		background: #f8b928;
		border-radius: 0 0 5px 0;
		padding: 15px 30px !important;
		text-align: right;
		color: #fff;
	}

	.karir-listing li strong {
		font-size: 12px;
	}

	#footer .row {
		padding: 0 15px;
	}

	#page-container .sections {	
		/*width: 100%;*/
		/*overflow-x: scroll;
		overflow-y: hidden;*/
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}

	.page-media #contact-section > div.right.large-7 > .large-6 {
		float: left !important;
		width: 100%;
	}

	.page-tentang-axa-indonesia #content-details,
	.page-tentang-axa-indonesia #nilai-axa.blue-sections,
	.page-tentang-axa-indonesia #karir-section,
	.page-tentang-axa-indonesia #page-container #kontak.sections {
		padding: 15px;
	}

	.page-tentang-axa-indonesia #content-details h3 {
		margin-top: 10px;
	}

	.page-tentang-axa-indonesia #nilai-axa.blue-sections,
	.page-tentang-axa-indonesia #karir-section{
		min-height: inherit;
	}
}

@media only screen and (min-width: 800px) {
	.mobile-content {display: none !important;}
}

@media only screen and (max-width: 800px) {
	.banner {
		display: none;
	}

	#customerCare {
		top: 10px;
	}

	#page-container {
		background-image: none;
	}

	.separationpage #panel .box  {
		padding: 15px;
	}

	
	.columns {
		float: none !important;
	}

	.large-6 {
		width: 100%;
		height: auto;
	}

	.h-300 {height: auto;}

	.single-post #page-head{
		margin-top: 0;
	}

	.single-post #masthead {
		padding: 0;
		min-height: 0;
	}

	#page-head .box {
		top: 15px !important;
		left: 15px !important;
		width: 180px;
	}

	#page-head .box p {
		font-size: 14px !important;
	}

	#page-head .f-45 {
		font-size: 22px !important;
	}

	#page-head {
		height: 140px;
		overflow: hidden;
	}

	.separate-large {
		width: 326px;
		height: 140px;
		background: url("../images/separate-large.png") no-repeat right;
	}

	.single-klaim #page-head {
		margin-top: 0;
	}

	.column-2 {
		column-count: 1 !important;
		column-gap: 30px !important;
		-webkit-column-count: 1;
		-webkit-column-gap: 1px !important;
		-moz-column-count: 1 !important;
		-moz-column-gap: 30px !important;
		-o-column-count: 1 !important;
		-o-column-gap: 30px !important;
	}

	.desktop-content {
		display: none !important;
	}

	#fixed-navigation {
		display: none !important;
	}
/*	.off-canvas-wrap.move-right .inner-wrap:before,
	.off-canvas-wrap.move-left .inner-wrap:before {
		content: "";
		position:absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: block;
		background: rgba(0, 0, 0, 0.77);
		z-index: 100000;
	}*/

	.move-right a.exit-off-canvas, .move-left a.exit-off-canvas {
		box-shadow: none !important;
		background: rgba(0, 0, 0, 0.8);
		transition:none;
	}

	ul.off-canvas-list #searchform {
		width: 215px;
	}
	#mobile-navigation #logo {
		float: none;
		background: url("../images/sprite.png") -271px -212px no-repeat;
		display: block;
		width: 175px;
		height: 34px;
		text-indent: -9999em;
		margin: 12px auto 0;
	}

	.offcanvas-active{
		overflow: hidden;
	}

	nav.tab-bar {
		height: 65px;
		background: #fff;
	}

	a.menu-icon {
		color: #b0b0af;
	}

	a.menu-icon span {
		box-shadow: 0 10px 0 1px #b0b0af,0 16px 0 1px #b0b0af,0 22px 0 1px #b0b0af;
		-webkit-box-shadow:0 10px 0 1px #b0b0af,0 16px 0 1px #b0b0af,0 22px 0 1px #b0b0af;
	}

	section.left-small, section.right-small {
		border-right: 0px;
		border-left :0px;
		box-shadow :none;
		margin-top: 10px;
	}

	section.right-small .right-off-canvas-toggle .fa {
		width: 45px;
		height: 45px;
	}

	.off-canvas-wrap {
		background-color: #0f2e86;
	}

	ul.off-canvas-list li a {
		display: block;
		padding: 0 0 8px;
		color: rgba(255, 255, 255, 0.7);
		border-bottom: 1px solid #30488D;
		margin: 5px 15px;
		font-size: 14px;
	}

	ul.off-canvas-list .dark {
		background: #0A2162;
		padding: 10px 0;
	}

	#mobile-navigation.fixed {
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.32);
		-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.32);
		-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.32);
		-o-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.32);
		}

	#mobile-navigation .off-canvas-list li:last-child a,
	.other-menu a{
		border-bottom: 0px solid #30488D !important;
	}

	.right-off-canvas-toggle {
		font-size: 22px;
		color: #b0b0af;
	}

	.right-off-canvas-toggle:hover{
		color: #7A7A7A;
	}

	#mobile-navigation .off-canvas-list li {
		clear: both;
		display: block;
	}

	.menu-search {
		padding: .66667rem;
	}

	#searchform {
		height: 28px;
		float: none;
		overflow: hidden;
		position: relative;
		border: 1px solid #E2E7F5;
		border-radius: 5px;
		margin-top: 0px;
		margin: 0;
	}

	#searchsubmit {
		z-index: 100;
		top: 8px;
		width: 12px;
		height: 12px;
	}

	#searchform input {
		/*background: #fff;*/
		height: 28px;
		-webkit-appearance:none;
		border-radius: 3px;
	}

	.sub-menu-first {
		height: 0;
		overflow: hidden;
	}

	#qtranslate-chooser {
		padding: 0;
		margin: 0 15px;
	}

	#qtranslate-chooser a{
		margin: 0;
		padding: 0;
	}

	.other-menu.first-child{
		margin-top: 15px;
	}

	.sub-menu-second, .fa.fa-angle-up {
		display: none;
	}

	.menu-item.parent-menu.expanded a{
		/*color: red;*/
		border-bottom: 0px !important;
	}

	.menu-item.parent-menu.expanded .arrow-up {
		display: inline-block;
	}

	.menu-item.parent-menu.expanded .arrow-down {
		display: none;
	}


	.menu-item.parent-menu.expanded .sub-menu-first{
		height: auto;
	}

	.sub-parent.expanded > .sub-menu-second {
		display: block;
	}

	.sub-parent.expanded .arrows-up{
		display: inline-block;
	}

	.sub-parent.expanded .arrows-down{
		display: none;
	}

	.column, .columns{
		padding: 0;
		margin: 10px 0;
		width: 100% !important;
	}

	#mainSlider, #slideContent, #slideContent li {
		height: 400px;
		background-size: cover;
	}

	#mainSlider .caption {
		width: 50%;
		top: 20%;
	}

	#mainSlider .caption h3 {
		font-size: 20px;
	}

	#mainSlider .buttons i {
		font-size: 20px;
	}

	#mainSlider .owl-buttons, #solusiWidget #intro:after {
		display: none;
	}

	#mainSlider .buttons {
		font-size: 15px;
	}

	#separate {
		left: 0;
		top: 15px;
	}

	#region-1 {
		background-color: #fff;
		padding: inherit;
	}

	#region-2 {
		padding: 0 0 20px;
	}

	#layanan {
		padding: 25px 15px;
	}

	#layanan .large-11 {
		float: none;
	}

	#layanan h3 {
		font-size: 20px;
	}

	#layanan ul {
		margin: 0 auto; 
		/*width: 350px;*/
	}

	#layanan ul li {
		border: 0px;
		padding-bottom: 0;
		margin:0;
		display: inline-block;
	}

	#solusiWidget ul li:hover .desc {
		display: none !important;
	}

	#solusiWidget ul li:hover .icon {
		display: block !important;
	}

/*	#layanan ul li:after {
		border-bottom: 1px solid #E0E0E0;
		content: "";
		position: absolute;
		bottom: -5px;
		width: 100%;
		left: 0;
	}*/

	#layanan ul li:last-child:after{
		border-bottom: 0px;
	}

	#layanan .icon {
		margin: 0 auto;
		float: none;
	}

	#layanan.mobile .icon {
		background-position: -252px -63px!important;
		float: none;
		width: 72px;
	}

	#layanan.mobile {
		border-radius: 5px;
	}

	#layanan.mobile .details {
		text-align: center;
		float: none;
		width: auto;
	}

	#layanan h4,
	#layanan p {
		text-align: center;
	}


	#layanan .details {
		text-align: center;
		float: none;
		/*width: 200px;*/
		margin-left: 20px;
	}

	#layanan .klaim .icon {
		background-position: -336px -64px;
	}

	#layanan .akses .icon {
		background-position: -259px -64px;
	}

	.row.solusiContainer {
		padding: 0;
	}


	#unitWidget {
		height: 180px;
	}

	#unitWidget .row {
		padding: 0 15px;
	}

	#unitWidget .wrap {
		height: 180px;
		background: #F5F5F5;
	}

	#ulip-product {
		width: auto;
		float: none;
		margin: auto;
	}

	#unitWidget .boxContainer.clearfix {
		float: none;
	}

	.slideshow-unit {
		width: auto !important;
		height: 58px;
		margin: auto;
	}
	
	.unit-item li {
		display: block;
		margin: auto;
	}

	.slideshow-unit .unit .date {
		margin-left: 0;
		margin-right: 15px;
	}
	#unitWidget .nextprev {
		position: absolute;
		right: 20px;
		top: auto;
		bottom: -3px;
		z-index: 100;
	}

	#unitWidget .nextprev .fa.fa-angle-up {
		display: block !important;
	}

	#unitWidget.expanded, .bottom-widget {
		height: auto;
	}
	
	#solusiWidget {
		border-radius: inherit;
		height: auto;
		text-align: center;
		padding: 40px 0;
		margin: 0;
		border-top: 1px solid #cbd2e8;
	}


	#solusiWidget ul li {
		width: 144px;
		height: 110px;
		margin-bottom: 10px;
		position: relative;
	}

	#solusiWidget ul li:nth-child(2){
		border-right: 0px;
	}

	#solusiWidget li:nth-child(1):after,
	#solusiWidget li:nth-child(2):after{
		border-bottom: 1px solid #DAE0F3;
		content: "";
		position: absolute;
		bottom: -5px;
		width: 100%;
		left: -2px;
	}

	#solusiWidget ul {
		list-style: none;
		margin: 0 auto;
		width: 300px;
		float: none;
		padding: 0;
	}

	.slideshow-unit .unit-item li:nth-child(1) .product-title {
		position: inherit;
		top: 0;
		white-space: normal;
		width: auto;
		overflow: inherit;
		text-overflow: inherit;

	}
	.product-title{
		margin-bottom: 5px;
	}

	#chartContainer .loading {
		background: #F4F4F4!important;
	}

	/*.slideshow-unit .unit-item li:nth-child(1) .product-title{
		width: 155px;
		line-height: 0.9em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}*/

	/* Solusi Page
	==============================================*/
	#masthead {
		min-height: 200px;
		padding: 0 15px 40px;
	}

	#header-image {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		background-size: cover;
		bottom: 0;
		background-position: 50% center;
	}

	.page-hubungi-kami #header-image {
		background-position: 100% center;
	}

	#masthead h1 {
		position: relative;
		z-index: 100;
		width: 50%;
	}

	.page-tentang-axa-indonesia #masthead h1 {
		width: 90%;
	}

	#masthead h2 {
		display: none;
	}

	.sections h3 , #body-2 h3, #content-details h3{
		margin-top: 20px;
		margin-bottom: 15px;
		line-height: 1.3;
	}

	#product-listing h3{
		margin-bottom: 0;
	}

	#product-listing h4 {
		margin-bottom: 10px;
	}

	#content-details, .blue-sections, #page-container .sections {
		border-radius: 0;
		padding: 0 15px;
	}

	#content-details .slides, #product-listing .button.floating {
		display: none;
	}

	.single-product_matrix #masthead {
		padding: 0;
	}

	.single-product_matrix #page-head {
		margin: 0;
	}

	#kontak #floating {display: none;}

	/* Layanan Nasabah
	==============================================*/
	#search-premi{
		background: #f8f9fb;
		margin-bottom: 0;	
		border-radius: 0;
	}

	#premi-polis {
		width: 100% !important;
	}

	.page-layanan-nasabah .content-box {
		padding: 0;
	}

	/*.page-layanan-nasabah #page-container .grey {
		background: #fff;
	}*/

	.w-322 {width: auto}

	.widget {
		margin: 0 auto 10px;	
	}

	.widget > div {
		width: auto;
	}

	.bg-separator {
		background: #f2f1f1 !important;
	}

	.page-reksa-dana .content-box{
		padding: 15px;
	}

	.page-informasi-umum .button.absolute,
	.page-customer-care .button.absolute,
	.page-lain-lain .button.absolute {
		position: relative;
		margin-left: 10px;
	}

	.two-list-content li a {
		height: auto;
		padding: 5px 20px;
	}

	/* Tentang AXA
	==============================================*/
	#content-details #icons, .career-list{
		display: none;
	}

	#nilai-axa, #axa-group, #karir-section, #contact-section {
		padding: 15px;
	}

	#nilai-axa #icons{
		display: none;
	}

	#axa-group ul li {
		width: auto;
		float: none !important;
		clear: both;
		min-height: inherit;
	}

	#axa-group ul {
		margin: 0;
	}

	#axa-group ul h4 {
		min-height: inherit;
		height: auto;
	}

	#footer-mobile .row {
		padding: 0 15px;
	}

	#footer-mobile {
		/*height: 119px;*/
		background: url(../images/bg-footer-mobile.jpg) center no-repeat;
		text-align: center;
		padding: 25px 0;
	}

	#footer-mobile select{
		margin-bottom: 10px;
	}

	#footer-mobile .menu {
		margin: 0;
	}

	#footer-mobile .menu li {
		display: inline-block;
		font-size: 12px;
	}

	#footer-mobile .menu li a{
		color: #FFF;
		border-right: 1px solid #FFF;
		height: 14px;
		padding: 0 10px;
	}

	#footer-mobile .menu li a:hover{
		color: red;
	}

	#footer-mobile .menu li:last-child a{
		border: 0px;
	}

	#unitWidget #title:after {
		border: 0 !important;
	}

	#unitWidget #title {
		margin: 0;
		background: none;
	}

	.breadcrumbs {
		padding: 30px 15px;S
	}

	/* Direktori
	=============================================*/
	.direktori-list .details {
		width: 100% !important;
	}

	.direktori-list .map-details {
		display: none;
	}

	#mobile-map {
		background: url(../images/header-map.jpg) no-repeat center center;
		height: 280px;
	}

	#searchdir {
		padding-left: 15px;
		padding-right: 15px;
	}

	.wp-pagenavi a, .wp-pagenavi span { 
		padding: 5px !important;
	}

	.single-faq #masthead {
		padding: 0;
	}

	.single-faq #page-head {
		margin-top: 0;
	}

}


@media only screen and (max-width: 480px) {
	.separationpage {
		background-position: top center;
		background-image: url(../images/bg-separationpage-mobilesmall.jpg);
	}
	.separationpage #panel .box p {
		display: none;
	}

	.separationpage .left img {
		padding-right: 10px;
	}

	.separationpage .right img {
		padding-left: 10px;
		max-width: 80%;
	}

	.separationpage .bottomSection .btn.right,
	.separationpage .bottomSection .btn.left {
		padding: 10px 15px !important
	}

	.separationpage .bottomSection .btn {
		font-size: 13px;
	}

	#mainSlider, #slideContent, #slideContent li, #mobile-slide, #mobile-slide li{
		height: 300px;
	}


	#solusiWidget ul {
		width: auto;
	}

	#layanan {
		padding: 25px 0;
	}

	#layanan .row{
		padding: 0;
	}

	#layanan ul{
		width: 300px;
	}

	#layanan ul li {
		padding: 0 20px;
		display: inline-block;
		margin: 0;
	}

	#layanan .details {
		/*width: 172px;*/
		margin-left: 0;
	}

	#layanan .premi .icon {
		background-position: -420px -64px;
	}

	#layanan .klaim .icon {
		background-position: -340px -64px;
	}

	#layanan .akses .icon {
		background-position: -268px -64px;
	}

	#contact-form label {
		width: 100%;
		float: none;
	}

	.wpcf7-form-control-wrap {
		width: 100% !important;
	}

	#visualization {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		vertical-align: middle;
		overflow: hidden;
	}

	#ulipDateSelector .dateinput input {
		width: 80%;
	}

	#kontak form .fieldset {
		width: 100%;
		float: none;
	}

	#list-syarat .icon-125x100 {
		display: none;
	}

	#list-syarat li .details {
		width: 100% !important;
		padding: 15px;
	}

	#list-syarat li .details p {
		margin: 0;
		font-size: 14px;
	}

	#list-syarat .bg-white {
		height: auto;
	}

	#list-syarat li {
		padding-bottom: 10px;
		margin-bottom:0;
	}

	#mainSlider .buttons i {
		font-size: 16px;
		padding: 10px 10px;
	}

	#mainSlider .caption {
		width: 70%;
		top: 20%;
	}

	#brochure-download .small-block-grid-2 > li {
		width: 100%;
	}

	.page-formulir .pdf-list strong {
		width: 210px;
	}

	.page-home #direktori-widget {
		min-height: 207px !important; 
	}

	#direktori-widget #pilih-direktori {
		width: 70%;
	}

	/*#direktori-widget #pilih-direktori {
		width: 100%;
	}*/

	#unitWidget.expanded .bottom-widget .right,
	#unitWidget.expanded .bottom-widget .left {
		float: none !important;
	}

	#unitWidget.expanded .bottom-widget .right {
		margin-left: -10px;
		margin-top: 10px;
	}

	.bottom-widget table tr td {
		text-align: left !important;
	}
}

@media only screen and (max-width: 325px) { 
	#ytvideo-mobile {
		height: 300px !important;
	}
}